# Ignore the build output folder
/bin/
/obj/

# Ignore Visual Studio specific files
.vs/
.vscode/
.idea/

# Ignore user-specific files
*.user
*.userosscache
*.suo
*.userprefs

# Ignore compiled code
*.dll
*.exe
*.pdb
*.lib
*.app

# Ignore package directories
/packages/

# Ignore logs
*.log

# Ignore system files
Thumbs.db
.DS_Store